<div class="container" *ngIf="semester">
    <form (ngSubmit)="onSubmit()" #semesterForm="ngForm">
        <div class="form-group">
            <label for="department">Kierunek:</label>
            <input type="text" class="form-control" id="department"
                   required maxlength="20"
                   [(ngModel)]="semester.Department"
                   name="department"
                   #department="ngModel" />
            <div [hidden]="department.valid || department.pristine"
                 class="alert alert-danger">
                Nazwa kierunku jest wymagana
            </div>
        </div>
        <div class="form-group">
            <label for="year">Rok akademicki:</label>
            <input type="text" class="form-control" id="year"
                   required pattern="[0-9]{4}/[0-9]{4}"
                   [(ngModel)]="semester.Year"
                   name="year"
                   #year="ngModel" />
            <div [hidden]="year.valid || year.pristine"
                 class="alert alert-danger">
                Rok akademicki jest wymagany(Przykład 2017/2018)
            </div>
        </div>
        <div class="form-group">
            <label for="semesternum">Semestr:</label>
            <input type="number" class="form-control" id="semesternum"
                   required
                   [(ngModel)]="semester.SemesterNumber"
                   name="semesternum"
                   #semesterNum="ngModel" />
            <div [hidden]="semesterNum.valid || semesterNum.pristine"
                 class="alert alert-danger">
                Numer semestru jest wymagany.
            </div>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!semesterForm.form.valid">Dodaj</button>
        <button type="button" *ngIf="id" class="btn btn-default" (click)="change()" [disabled]="!semesterForm.form.valid">Zmień</button>
        <button type="button" class="btn btn-default" (click)="goBack()">Powrót</button>
    </form>
</div>
<span *ngIf="!semester">Proszę poczekać...</span>
<span *ngIf="error" class="alert alert-danger">{{error}}</span>


