<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Strona główna</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
            </ul>
            <ul class='nav navbar-nav' *ngIf="appComponent !== null && !appComponent.loggedIn">
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/registration']">
                        <span class='glyphicon glyphicon-pencil'></span> Rejestracja
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-off'></span>Zaloguj
                    </a>
                </li>
            </ul>

    <ul *ngIf="appComponent !== null && appComponent.auth !== null && appComponent.auth.UserType === 1" class='nav navbar-nav'>
        <li>
            <a [routerLink]="['/student']">
                <span class='glyphicon glyphicon-user'></span>Profil
            </a>
        </li>
        <li>
            <a [routerLink]="['/student/sections']">
                <span class='glyphicon glyphicon-book'></span>Sekcje
            </a>
        </li>
    </ul>
    <ul *ngIf="appComponent !== null && appComponent.auth !== null && appComponent.auth.UserType === 2" class='nav navbar-nav'>
        <li>
            <a [routerLink]="['/instructor']">
                <span class='glyphicon glyphicon-user'></span>Profil
            </a>
        </li>
        <li>
            <a [routerLink]="['/subjects']">
                <span class='glyphicon glyphicon-bookmark'></span>Przedmioty
            </a>
        </li>
        <li>
            <a [routerLink]="['/students']">
                <span class='glyphicon glyphicon-education'></span>Studenci
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a [routerLink]="['/sections']">
                <span class='glyphicon glyphicon-book'></span>Sekcje
            </a>
        </li>
        <li>
            <a [routerLink]="['/projects']">
                <span class='glyphicon glyphicon-blackboard'></span>Projekty
            </a>
        </li>
    </ul>
    <ul *ngIf="appComponent !== null && appComponent.auth !== null && appComponent.auth.UserType === 3" class='nav navbar-nav'>
        <li>
            <a [routerLink]="['/instructors']">
                <span class='glyphicon glyphicon-list-alt'></span>Prowadzący
            </a>
        </li>
        <li>
            <a [routerLink]="['/admins']">
                <span class='glyphicon glyphicon-list-alt'></span>Administratorzy
            </a>
        </li>
        <li>
            <a [routerLink]="['/admin']">
                <span class='glyphicon glyphicon-user'></span>Profil
            </a>
        </li>
        <li>
            <a [routerLink]="['/semester']">
                <span class='glyphicon glyphicon-time'></span>Semestry
            </a>
        </li>
        <li>
            <a [routerLink]="['/syslogs']">
                <span class='glyphicon glyphicon-warning-sign'></span>Dziennik systemowy
            </a>
        </li>
    </ul>
    <ul class='nav navbar-nav' *ngIf="appComponent !== null && appComponent.loggedIn">
        <li [routerLinkActive]="['link-active']">
            <button class="btn btn-link navbar-btn" (click)="appComponent.Logout()">
                <span class='glyphicon glyphicon-off'></span>Wyloguj
            </button>
        </li>
    </ul>
</div>
    </div>
</div>
