<span *ngIf="!instructor">Proszę poczekać...</span>
<div class="container" *ngIf="instructor">
    <form (ngSubmit)="onSubmit()" #instructorForm="ngForm">
        <div class="form-group">
            <label for="firstname">Imię:</label>
            <input type="text" class="form-control" id="firstname"
                   maxlength="20" pattern="[a-zA-Z]{0,20}"
                   [(ngModel)]="instructor.firstName"
                   name="firstname"
                   #firstName="ngModel" />
            <div [hidden]="firstName.valid || firstName.pristine"
                 class="alert alert-danger">
                Imię może składać sę wyłącznie z liter.
            </div>
        </div>
        <div class="form-group">
            <label for="lastname">Nazwisko:</label>
            <input type="text" class="form-control" id="lastname"
                   maxlength="20" pattern="[a-zA-Z]{0,20}"
                   [(ngModel)]="instructor.lastName"
                   name="lastname"
                   #lastName="ngModel" />
            <div [hidden]="lastName.valid || lastName.pristine"
                 class="alert alert-danger">
                Nazwisko może składać sie wyłącznie z liter.
            </div>
        </div>
        <div class="form-group">
            <label for="pesel">Pesel:</label>
            <input type="text" class="form-control" id="pesel"
                   maxlength="11" pattern="[0-9]{11}"
                   [(ngModel)]="instructor.pesel"
                   name="pesel"
                   #pesel="ngModel" />
            <div [hidden]="pesel.valid || pesel.pristine"
                 class="alert alert-danger">
                Składa się tylko z cyfr.
            </div>
        </div>

        <div class="form-group">
            <label for="birthday">Data urodzenia:</label>
            <span *ngIf="instructor.birthday">{{instructor.birthday | date:'y-MM-dd'}}</span>
            <input type="date" class="form-control" id="birthday"
                   [(ngModel)]="instructor.birthday"
                   name="birthday"
                   #birthday="ngModel" />
            <div *ngIf="!instructor.birthday" class="alert alert-danger">
                Data urodzenia jest wymagana
            </div>
        </div>
        <div class="form-group">
            <label for="city">Miasto:</label>
            <input type="text" class="form-control" id="city"
                   maxlength="20"
                   [(ngModel)]="instructor.city"
                   name="city"
                   #city="ngModel" />
            <div [hidden]="city.valid || city.pristine"
                 class="alert alert-danger">
                Miasto jest wymagane
            </div>
        </div>
        <div class="form-group">
            <label for="addres">Adres:</label>
            <input type="text" class="form-control" id="addres"
                   maxlength="20"
                   [(ngModel)]="instructor.addres"
                   name="addres"
                   #addres="ngModel" />
            <div [hidden]="addres.valid || addres.pristine"
                 class="alert alert-danger">
                Adres jest wymagany
            </div>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!instructorForm.form.valid || !instructor.birthday">Wyślij</button>
        <button type="button" class="btn btn-default" (click)="goBack()">Powrót</button>
    </form>
</div>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>