<div class="container">
    <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
        <div class="form-group">
            <h3>Zmiana hasła</h3>
            <label for="oldpassword">Stare hasło:</label>
            <input type="password" class="form-control" id="oldpassword"
                   required maxlength="20"
                   [(ngModel)]="passwords.OldPassword"
                   name="oldpassword"
                   #oldPassword="ngModel" />
            <div [hidden]="oldPassword.valid || oldPassword.pristine"
                 class="alert alert-danger">
                Stare hasło jest wymagane.
            </div>
        </div>
        <div class="form-group">
            <label for="newpassword">Nowe hasło:</label>
            <input type="password" class="form-control" id="newpassword"
                   required maxlength="20"
                   [(ngModel)]="passwords.NewPassword"
                   name="newpassword"
                   #newPassword="ngModel" />
            <div [hidden]="newPassword.valid || newPassword.pristine"
                 class="alert alert-danger">
                Nowe hasło jest wymagane.
            </div>
        </div>
        <div class="form-group">
            <label for="newpasswordr">Powtórz nowe hasło:</label>
            <input type="password" class="form-control" id="newpasswordr"
                   required maxlength="20"
                   [(ngModel)]="retryPassword"
                   name="newpassword"
                   #newPasswordr="ngModel" />
            <div [hidden]="newPasswordr.valid || newPasswordr.pristine"
                 class="alert alert-danger">
                Powtórzenie nowego hasła jest wymagane.
            </div>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!passwordForm.form.valid">Wyślij</button>
        <button class="btn btn-default" (click)="goBack()">Powrót</button>
    </form>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</div>