
<div *ngIf="semester" class="container">
    <div class="menu">
        <a [routerLink]="['/student/detail']">Edytuj</a>
        <a [routerLink]="['/student/password']">Zmień hasło</a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Imię</th>
                <td>{{student.FirstName}}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{student.LastName}}</td>
            </tr>
            <tr>
                <th>Pesel</th>
                <td>{{student.PESEL}}</td>
            </tr>
            <tr>
                <th>Data urodzenia</th>
                <td>{{student.DateOfBirth | date:'y-MM-dd'}}</td>
            </tr>
            <tr>
                <th>Miasto</th>
                <td>{{student.City}}</td>
            </tr>
            <tr>
                <th>Adres</th>
                <td>{{student.Addres}}</td>
            </tr>
            <tr>
                <th>Rok</th>
                <td>{{semester.Year}}</td>
            </tr>
            <tr>
                <th>Numer semestru</th>
                <td>{{semester.SemesterNumber}}</td>
            </tr>
            <tr>
                <th>Kierunek</th>
                <td>{{semester.Department}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-default" (click)="edit()">Edytuj</button>
</div>
<div *ngIf="!semester">
    Poczekaj chwile...
</div>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>