<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Dodawanie semestrów</h4>
    </div>
    <div class="modal-body" *ngIf="meeting">
        <form #meetingForm="ngForm">
            <div class="form-group">
                <label for="date">Data spotkania:</label>
                <span *ngIf="meeting.Date">{{meeting.Date | date:'y-MM-dd'}}</span>
                <input type="date" class="form-control" id="date"
                       [(ngModel)]="meeting.Date"
                       name="date"
                       #date="ngModel" />
                <div *ngIf="!meeting.Date" class="alert alert-danger">
                    Data spotkania jest wymagana
                </div>
            </div>
            <div class="form-group">
                <label for="rate">Ocena:</label>
                <input type="number" class="form-control" id="rate" min="0" max="5" step="0.5"
                       [(ngModel)]="meeting.Rate"
                       name="rate"/>
            </div>
        </form>
    </div>
    <span *ngIf="message" class="alert alert-info" role="alert">{{message}}</span>
    <span *ngIf="error" class="alert alert-danger" role="alert">{{error}}</span>
    <div class="modal-footer">
        <button *ngIf="!edit && meeting" type="button" class="btn btn-primary" [disabled]="!meeting.Date" (click)="onAdd()">Dodaj</button>
        <button *ngIf="edit && meeting" type="button" class="btn btn-primary" [disabled]="!meeting.Date" (click)="onEdit()">Zmień</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClear()">Zamknij</button>
    </div>
</div>
