<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-10 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Sekcje
                    </div>
                    <div class="row">
                        <div *ngIf="sections" class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
                            <button type="button" [disabled]="!selectedSection || storred" class="btn btn-link" data-toggle="modal" data-target="#checkBox">Zapisz mnie</button>
                            <button type="button" [disabled]="!selectedSection || !storred" class="btn btn-link" data-toggle="modal" data-target="#checkBox">Wypisz mnie</button>
                            <ul class="list-group">
                                <li class="list-group-item"
                                    *ngFor="let section of sections"
                                    [class.selected]="section === selectedSection"
                                    (click)="onSelect(section)">
                                    Sekcja: {{section.Section.SectionNumber}}
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="selectedSection" class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
                            <button type="button" [disabled]="selectedSection && storred" class="btn btn-link" (click)="goToReports()">Sprawozdania</button>
                            <button type="button" [disabled]="!selectedSection || !storred" class="btn btn-link" data-toggle="modal" data-target="#modalSelect">Wybierz projekt</button>
                            <button type="button" [disabled]="selectedSection && project && storred" class="btn btn-link" data-toggle="modal" data-target="#checkBoxDelete">Usuń</button>
                            <span *ngIf="selectedSection && !storred"><br /></span>
                            <div *ngIf="selectedSection.Students.length == 0" class="panel-body">
                                Nikt się jeszcze nie wpisał.
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item"
                                    *ngFor="let student of selectedSection.Students"
                                    [class.selected]="student === selectedStudent"
                                    (click)="onSelectStudent(student)">
                                    {{student.FirstName}} {{student.LastName}}
                                </li>
                            </ul>
                            <div class="panel-body" *ngIf="project">
                                {{project.Topic}}<br />
                                {{project.Description}}
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
                            <div *ngIf="selectedStudent">
                                <meetings *ngIf="selectedStudent.Id == studentId" [sectionId]="selectedSection.Section.Id" [studentId]="selectedStudent.Id" [permission]="false"></meetings>
                            </div>
                            <div *ngIf="sectionStudent">
                                <span [hidden]="sectionStudent.Rate == 0">Ocena końcowa to: {{sectionStudent.Rate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
        <span *ngIf="message" class="alert alert-info" role="alert">{{message}}</span>
        <span *ngIf="error" class="alert alert-danger" role="alert">{{error}}</span>
    </div>
</div>
<div class="modal fade" id="checkBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Wypisywanie</h4>
            </div>
            <div class="modal-body">
                <span *ngIf="!storred">Czy na pewno chcesz zapisać się do tej sekcji?</span>
                <span *ngIf="storred">Czy na pewno chcesz wypisać się z tej sekcji?</span>
            </div>
            <div class="modal-footer">
                <button  *ngIf="!storred" type="button" class="btn btn-primary" data-dismiss="modal" (click)="onAdd()">Tak</button>
                <button  *ngIf="storred" type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDelete()">Tak</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Nie</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="checkBoxDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Wypisywanie</h4>
            </div>
            <div class="modal-body">
                <span>Czy na pewno chcesz zrezygnować z tego tematu?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteProject()">Tak</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Nie</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalSelect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <section-project *ngIf="selectedSection" [section]="selectedSection.Section"></section-project>
    </div>
</div>

