<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Wyszukiwanie sekcji</div>
                <div class="panel-body">
                    <div>
                        <label for="semseter">Semestr</label>
                        <select class="form-control" id="semester"
                                [ngModel]="semesterId"
                                (ngModelChange)="onSelectSemester($event)"
                                name="semester">
                            <option *ngFor="let semester of semesters" [value]="semester.id">
                                {{semester.department}} {{semester.year}} {{semester.semesterNum}}
                            </option>
                        </select>
                    </div>
                    <div>
                        <label for="subject">Przedmiot</label>
                        <select [disabled]="!semesterId" class="form-control" id="subject"
                                [ngModel]="subjectId"
                                (ngModelChange)="onSelectSubject($event)"
                                name="semester">
                            <option *ngFor="let subject of subjects" [value]="subject.id">
                                {{subject.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="semesterId && subjectId">
        <sections-list-student [semesterId]="semesterId" [subjectId]="subjectId"></sections-list-student>
    </div>
    <span *ngIf(message) class="alert alert-info" role="alert">{{message}}</span>
    <span *ngIf(error) class="alert alert-danger" role="alert">{{error}}</span>
</div>