<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Dodawanie semestrów</h4>
    </div>
    <div class="modal-body">
        <form #sectionForm="ngForm">
            <div class="form-group">
                <label for="count">Ile grup utworzyć?:</label>
                <input type="number" class="form-control" id="count" min="1" max="20"
                       required
                       [(ngModel)]="sectionsCreator.count"
                       name="count"
                       #count="ngModel" />
                <div [hidden]="count.valid || count.pristine"
                     class="alert alert-danger">
                    Musisz podać ile grup ma zostać utworzonych.
                </div>
            </div>
        </form>
    </div>
    <span *ngIf="message" class="alert alert-info" role="alert">{{message}}</span>
    <span *ngIf="error" class="alert alert-danger" role="alert">{{error}}</span>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!sectionForm.form.valid" (click)="onSubmit()">Dodaj</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClear()">Zamknij</button>
    </div>
</div>
